@import '../../../config/config.styl';

.wallpaper_container
  .child_container
    height 94vh
    overflow auto
    .show
      background-color nav-color
      width 25vw
      height 40vw
      float left
      background center
      background-size cover