<div class="main_container">
    <div class="bg" :style="bg|icon"></div>
    <div class="head">
        {{time}}
    </div>

    <div class="body">

        <div class="swiper-wrapper">
        <div class="swiper-slide" v-for="x in items">

        <div class="box" v-for="y in x">
            <div class="icon" :style="y.src|desk" @click="goto(y.url)"></div>
            <h4>{{y.name}}</h4>
        </div>

        </div>
        </div>
    </div>


    <div class="footer">
        <div class="box" v-for="x in fitem" @click="goto(x.url)">
                <div class="icon" :style="x.src|ficon"></div>
                <h4>{{x.name}}</h4>
        </div>
    </div>

</div>