@import '../../config/config.styl'

.manga_container
  height 100%
  .child_container
    height 94vh
    overflow auto
    .box
      border 1px solid #000
      border-radius 0.8rem
      overflow hidden
      min-height 15vh
      margin 0.2rem
      .top
        padding 0.2rem 0.5rem 0.2rem 0.5rem
        background-color nav-color
        color nav-font
        font-size 1.2rem
        .info
          text-align right
          font-size 0.8rem
      .bottom
        padding 0.5rem
        background-color content-bg
        color nav-color