@import '../config/config';

html,body
  height 100%

body
  margin 0
  -webkit-touch-callout none
  -webkit-text-size-adjust none
  -webkit-user-select none

#app
  height 100%

.fade-enter-active, .fade-leave-active
  transition: all .25s
.fade-enter, .fade-leave-active
  transform:scale(0.2);
  opacity 0

.top-enter-active, .top-leave-active
  transition: all 0.25s
.top-enter, .top-leave-active
  transform:translateY(-100%);
