.p_container
  height 100%
  .child_container
    height 94vh
    .content
      height 94%
      overflow auto
      .news
        height 18%
        border 1px solid blue
        border-radius 0.8rem
        text-align center
        line-height 6.7rem
        font-size 1.2rem
    .page
      height 6%
      background-color #ffd4eb
      div
        height 1.4rem
        width 2rem
        margin-top 0.6rem
        margin-right 0.5rem
        text-align center
        border-radius 0.2rem
        float left
        line-height 1.4rem
      .prev
        background-color deeppink
        border 1px solid deeppink
        font-size 0.8rem
      .pagi
        border 1px solid #7fddff
      .next
        background-color deeppink
        border 1px solid deeppink
        margin-right 0
        font-size 0.8rem