
.time_container
  height 100%
  background-color #000000
  overflow hidden
  #clock
    height 94vh
    .arc-text
      font 16px sans-serif
    .arc-center
      fill none
    .white
      fill white
      font-size 5rem